input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007ad9;
    color: #fff;
    border-radius: 3px;
}

.custom-file-upload:hover {
    background-color: #116fbf;
}

.ui-orderlist-list {
    width: 100% !important;
}

.ui-node-level-1 {
    font-weight: bold;
}

body .ui-treetable thead th {
    padding: 1px;
}

body .ui-treetable .ui-treetable-data>tr>td {
    padding: 2px 1px;
}