input[type="file"] {
    display: none;
}

.header-bar {
    margin-bottom: 10px;
    display: flex;
    height: 2.7rem;
    background: linear-gradient(60deg,#0073e6,#0059b3)!important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #0059b3;
}

.custom-file-upload {
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: transparent;
    color: rgba(255,255,255,.5);
    border-radius: 3px;
}

.custom-file-upload:hover {
    color: rgba(255,255,255,.75);
}

.custom-button {
    background-color: transparent !important;
    color: rgba(255,255,255,.5) !important;
    border: 1px solid transparent !important;
}

.custom-button:hover {
    background-color: transparent !important;
    color: rgba(255,255,255,.75) !important;
    border: 1px solid transparent !important;
}

.ui-orderlist-list {
    width: 100% !important;
}

.ui-node-level-1 {
    font-weight: bold;
}

body .ui-treetable thead th {
    padding: 1px;
}

body .ui-treetable .ui-treetable-data>tr>td {
    padding: 2px 1px;
}

.noHeader table thead {
    display: none !important;
}

.rounded-button {
    border-radius: 50% !important;
    background-color: transparent !important;
    color: #D32F2F !important;
    border-color: #D32F2F !important;
    width: 2.4em !important;
}

.rounded-button:enabled:hover {
    background: rgba(211, 47, 47, 0.04) !important;
}

.rounded-button:enabled:active {
    background: rgba(211, 47, 47, 0.16) !important;
}

.rounded-button:enabled:focus {
    outline: unset !important;
    box-shadow: 0 0 0 0.2rem #edacac;
}

.ui-dialog-content {
    padding: 1px !important;
}

.associate-margin {
    margin: 5px;
}

.bold {
    font-size: 1.25rem;
    font-weight: bold;
}

.ok-i {
    content: url("#{resource['images/ok-i.png']}");
    height: 26.4px;
}